:root {
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: #EE662A;
  --tertiary-color: rgb(53, 53, 53);
  --quaternary-color: rgb(104, 210, 147);
  --text-hover-color: rgb(104, 210, 147);

  --text-light: white;
  --text-dark: black;
}

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bg-quaternary {
  background-color: var(--quaternary-color) !important;
}

.btn-custom,
.btn-custom:active,
.btn-custom:focus {
  background-color: var(--secondary-color);
  color: var(--text-light);
}

.btn-custom:hover,
.btn-custom.active {
  background-color: var(--text-hover-color);
  color: var(--text-light);
}

.form-control.modified {
  background-color: var(--text-hover-color);
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}