body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: grid;
  box-sizing: border-box;
  grid-template-areas:
    "header"
    "aside"
    "main";
  grid-template-rows: 70px auto;
}


/* Header */
body>header {
  background-color: var(--secondary-color);
  grid-area: header;
  max-width: 100vw;
}

body>header nav {
  background-color: var(--secondary-color);
  padding: 0;
  height: 100%;
}

body>header nav>div {
  background-color: var(--secondary-color);
  height: 100%;
}

body>header h1 {
  font-size: 2rem;
}

body>aside {
  max-width: 100vw;
  grid-area: aside;
  background-color: var(--tertiary-color);
}

.nav-link,
.nav-link:focus,
.nav-link:active {
  color: var(--secondary-color);
  text-decoration: underline;
}

.nav-link:hover,
.nav-link.active {
  color: var(--text-hover-color);
}

header .nav-link {
  color: #0e5e2d;
}

header .nav-link:hover {
  color: #1e2dcf;
}

body>main {
  max-width: 100vw;
  grid-area: main;
  padding: 10px;
  min-height: 100vh;
}

@media (min-width: 768px) {
  body {
    grid-template-columns: 200px auto;
    grid-template-areas:
      "header header"
      "aside main";
  }

  body>aside {
    grid-area: aside;
    min-height: 100vh;
    max-width: 200px;
  }

  body>header {
    grid-area: header;
    grid-column: span 2;
  }

  body>main {
    grid-area: main;
    max-width: calc(100vw - 220px);
  }
}